div(ng-include='', src="'partials/nav.html'")
div(ng-include='', src="'partials/header.html'")
.container-fluid
    .row
        .col-md-10.col-md-offset-1
            .row
                .col-md-12
                    .row
                        .col-md-12
                            div(ng-repeat='news in vm.news')
                                .panel.panel-default
                                    .panel-heading
                                        .row
                                            a(href="#!/news/{{news.slug}}").col-md-6 {{news.subject}}
                                            span.col-md-6.pull-right {{news.creator.name}} || {{news.createDate | date:'medium'}}
                                    .panel-body(ng-bind-html="news.html")
div(ng-include='', src="'partials/footer.html'")