div(ng-include='', src="'partials/nav.html'")
div(ng-include='', src="'partials/header.html'")
.container-fluid
    .row
        .col-md-10.col-md-offset-1
            form.form-inline(ng-submit='vm.submit()', role='form')
                fieldset
                    legend Login
                    .form-group
                        input.form-control(type='text', ng-model='vm.username', placeholder='Type your username...', required='')
                    .form-group
                        input.form-control(type='password', ng-model='vm.password', placeholder='Type your password...', required='')
                    input#login_submit_button.btn.btn-primary(type='submit', value='Login')
div(ng-include='', src="'partials/footer.html'")