nav.navbar.navbar-default.no-bottom-margin(ng-controller='NavCtrl as vm', role='navigation')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='#!/index') CloudletHub
    .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
            li(ng-hide='vm.isAuthenticated')
                a(href='#!/login') Login
            li(ng-hide='vm.isAuthenticated')
                a(href='#!/register') Register
            li(ng-show='vm.isAdmin')
                a(href='#!/users') Users
            li.dropdown(ng-show='vm.isAuthenticated')
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    | Actions
                    span.caret
                ul.dropdown-menu(role='menu')
                    li
                        a(ng-show='vm.isAdmin', href='#!/news') Add News
                    li
                        a(ng-show='vm.isAdmin', href='#!/user') Add User
            li.dropdown(ng-show='vm.isAuthenticated')
                a.dropdown-toggle(href='', data-toggle='dropdown')
                    | {{vm.currentUser.name}}
                    span.caret
                ul.dropdown-menu(role='menu')
                    li
                        a(href='', ng-click='vm.logout()') Logout
            li.dropdown.go-guntt-block(ng-show='vm.isAuthenticated')
                a.dropdown-toggle.go-guntt-btn(href='#!/guntt')
                    span LET'S GUNTT