div(ng-include='', src="'partials/nav.html'")
div(ng-include='', src="'partials/header.html'")
.container-fluid
    .row
        .col-md-10.col-md-offset-1
            .row
                .col-md-12
                    .row
                        .col-md-12
                            .panel.panel-default
                                .panel-heading
                                    .row
                                        .col-md-1.pull-left(ng-hide='!vm.isAdmin || vm.currentNews.modify')
                                            button.btn.btn-primary.btn-sm(type='button', ng-click='vm.updateCurrentNews(true)')
                                                span.glyphicon.glyphicon-pencil
                                                |  Edit
                                        .col-md-1.pull-left(ng-hide='!vm.isAdmin || vm.currentNews.modify')
                                            button.btn.btn-danger.btn-sm(type='button', ng-click='vm.deleteCurrentNews()')
                                                span.glyphicon.glyphicon-trash
                                                |  Delete
                                        a.col-md-6(href="#/news/{{vm.currentNews.slug}}", ng-hide='vm.currentNews.modify') {{vm.currentNews.subject}}
                                        span.col-md-6.pull-right {{vm.currentNews.creator.name}} || {{vm.currentNews.createDate | date:'medium'}}
                                        .col-md-1.pull-left(ng-show='vm.currentNews.modify')
                                            button.btn.btn-primary.btn-sm(type='button', ng-click='vm.updateCurrentNews(false)')
                                                span.glyphicon.glyphicon-pencil
                                                |  Update
                                        input.col-md-6.form-control(ng-show='vm.currentNews.modify', type='text', ng-model='vm.currentNews.subject', placeholder='{{vm.currentNews.subject}}', required='')
                                .panel-body
                                    span(ng-bind-html="vm.currentNews.html", ng-hide='vm.currentNews.modify')
                                    textarea.form-control(ng-show='vm.currentNews.modify', type='text', ng-model='vm.currentNews.text', placeholder='{{vm.currentNews.text}}', required='')
div(ng-include='', src="'partials/footer.html'")