div(ng-include='', src="'partials/nav.html'")
div(ng-include='', src="'partials/header.html'")
.container-fluid
    .row
        .col-md-10.col-md-offset-1
            form.form(role='form', ng-submit='vm.register()')
                fieldset
                    legend Register User
                    .form-group
                        label Username:
                        input.form-control(type='text', ng-model='vm.username', placeholder='Type your username...', required='')
                    .form-group
                        label Name:
                        input.form-control(type='text', ng-model='vm.name', placeholder='Type your name...', required='')
                    .form-group
                        label EMail:
                        input.form-control(type='email', ng-model='vm.email', placeholder='Type your email...', required='')
                    .form-group
                        label Password:
                        input.form-control(type='password', ng-model='vm.password', placeholder='Type your password...', required='')
                    .form-group
                        input.form-control(type='password', ng-model='vm.check_password', placeholder='Type your password again...', required='')
                    input.btn.btn-primary(type='submit', value='Sign Up')
div(ng-include='', src="'partials/footer.html'")