.nav-panel-large
    button.resources(title='Resourses', data-toggle='modal', data-target='#resource')
        | Resources
    button.types(title='Types', data-toggle='modal', data-target='#type')
        | Types
    button.groups(title='Groups', data-toggle='modal', data-target='#groups')
        | Groups
    button.share Share