.ruler-nav(ng-if='false')
    .plus
        a.btn.btn-success(style='text-decoration: none;')
            span +
    .minus
        a.btn.btn-danger(style='text-decoration: none;')
            span -
.ruler-move
    button  << move >>