section.modal-menu-main-section
    // RESOURCE MODAL SECTION START
    section.resource-modal-main
        #resource.modal.fade
            .modal-dialog.modal-lg
                .modal-constent
                    .modal-body.resource-modal-block

                        // RESOURCE MODAL MENU MAIN SECTION START
                        section.resource-main-menu
                            .res-modal-header
                                div
                                    span RESOURCES
                                div
                                    a(data-dismiss='modal', style='cursor: pointer;', directive-slide-hide='', directive-blind-close='')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px', ng-click='resourceEditMenuClose()', title='close')
                            .res-modal-body

                                // res-modal-unit-block-MAIN USER START
                                .res-modal-unit-block
                                    .res-modal-unit-block-top
                                        .res-modal-unit-name
                                            span(style='font-weight: bold;') {{user.userName}}
                                        .res-modal-unit-edit(ng-show='false')
                                            button(title='edit') edit


                                // res-modal-unit-block-RESOURCES START
                                .res-modal-unit-block(ng-repeat='resource in userResourceCollection')
                                    .res-modal-unit-block-top
                                        .res-modal-unit-name
                                            span(style='font-weight: bold;') {{resource.resName}}
                                        .res-modal-unit-edit
                                            button(directive-slide-show='', ng-click='resourceEditMenuOpen($index, resource.resName)', ng-hide='resourceEditMenuOpenStatus', title='edit') edit
                                        .res-modal-unit-del
                                            a(style='cursor: pointer;', ng-click='resRemovePannelShow=!resRemovePannelShow', title='delete', ng-hide='resourceEditMenuOpenStatus')
                                                img.close-btn(src='../img/guntt/modal-menu/delete.png', alt='deletePanelShow', width='24px')
                                    .res-modal-unit-block-bottom.text-center(ng-show='resRemovePannelShow')
                                        h4 Remove this resource completely?
                                        .del-confirm-buttons
                                            .del-confirm-cancel
                                                a(ng-click='resRemovePannelShow=false', title='cancel')
                                                    img.close-btn(src='../img/guntt/modal-menu/cancel-t.png', alt='cancel', width='24px', height='24px')
                                            .del-confirm-ok
                                                a(ng-click='removeResource($index)')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='24px', title='delete')


                            .res-modal-footer
                                .text-center(ng-hide='resourceEditMenuOpenStatus')
                                    span add new resource
                                    br
                                    input.add-res-input(type='text', name='addRes', value='', ng-model='newResourseName', ng-minlength='2', ng-maxlength='25', placeholder='')
                                .add-res-confirm(ng-hide='resourceEditMenuOpenStatus')
                                    a(ng-click='addNewResource(newResourseName)', style='cursor: pointer;')
                                        img.confirm-btn(src='../img/guntt/modal-menu/add.png', title='add', width='34\
                    px')
                        // RESOURCE MODAL MENU MAIN SECTION END

                        // RESOURCE MODAL MENU EDIT SECTION START
                        section.resource-main-menu-edit.slide-menu(hidden='hidden')
                            header.res-modal-edit-header
                                div
                                    span
                                        | RESOURCE:
                                        span(style='font-weight: bold;') {{userResourceCollection[currentResourceEditMenuOpen.resIndex].resName}}
                                        |                                        >Edit
                                div
                                    a(style='cursor: pointer;', ng-click='resourceEditMenuClose()', title='close edit menu', directive-slide-hide='', directive-blind-close='')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px')

                            .res-modal-edit-body
                                .res-modal-edit-body-header
                                    div
                                        .res-modal-edit-body-header-name
                                            span {{userResourceCollection[currentResourceEditMenuOpen.resIndex].resName}}
                                        .res-modal-edit-body-header-rename-btn
                                            button.modal-menu-btn(ng-click='renameBtnTrigger=!renameBtnTrigger', title='rename', directive-blind-show='')
                                                | rename
                                    hr
                                    section.res-modal-edit-body-header-remame-form.blind-show(hidden='hidden')
                                        span(for='resRemaneInput') Enter new resourse name
                                        input#resRemaneInput.res-remane-input(type='text', placeholder='{{userResourceCollection[currentResourceEditMenuOpen.resIndex].resName}}', ng-model='newResName', ng-minlength='2', ng-maxlength='25')
                                        a(ng-click='applyResEditNewName(newResName)', style='cursor: pointer;', title='apply')
                                            img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                        .res-modal-edit-body-header-back
                                            a(directive-blind-show='')  back


                                // res-modal-EDIT-TYPE-block START
                                .res-modal-edit-type-block
                                    .res-modal-edit-type-block-top
                                        .res-modal-edit-block-top-name
                                            span
                                                | Type:
                                                span.res-edit-selected-type-name(title='{{userResourceCollection[currentResourceEditMenuOpen.resIndex].resType}}')
                                                    | {{userResourceCollection[currentResourceEditMenuOpen.resIndex].resType}}
                                        .res-modal-unit-edit(style='position: relative;top: -7px;')
                                            button(directive-blind-types-show='', title='edit') edit
                                    section.res-modal-edit-type-block-bottom.blind-show-types(hidden='hidden')
                                        .res-edit-category
                                            .res-edit-category-unit
                                                ul(style='list-style: none;')
                                                    li(ng-repeat='type in userTypeCollection.userTypesList')
                                                        input.checkbox-r(type='radio', id='radio-type{{$index}}', ng-model='$parent.resEditSelectedType', ng-checked='userResourceCollection[currentResourceEditMenuOpen.resIndex].resType == type? true : false', name='types-radio-list', value='{{type}}', style='cursor: pointer;')
                                                        label.radio.category-radio-label(title='{{type}}', for='radio-type{{$index}}', style='cursor: pointer;') {{type}}
                                            .type-select-apply
                                                a(ng-click='applyResEditSelectedType(resEditSelectedType)', style='cursor: pointer;', title='apply', directive-blind-types-show='')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                // res-modal-EDIT-TYPE-block END

                                // res-modal-EDIT-GROUP-block START
                                .res-modal-edit-group-block
                                    .res-modal-edit-group-block-top
                                        .res-modal-edit-block-top-name
                                            span Group:
                                        .res-modal-unit-edit(style='position: relative;top: -1px;')
                                            button(directive-blind-groups-show='', title='edit') edit
                                        div
                                            ul.res-edit-selected-group-name(ng-repeat='group in userResourceCollection[currentResourceEditMenuOpen.resIndex].resGroup', ng-if='group.isMember')
                                                li.grp-name-color(style='color:{{group.groupColor}};')
                                                    | {{group.groupName}}
                                    section.res-modal-edit-group-block-bottom.blind-show-groups(hidden='hidden')
                                        .res-edit-category
                                            .res-edit-category-unit(style='margin-top: 10px')
                                                ul(style='list-style: none;')
                                                    li(ng-repeat='group in userResourceCollection[currentResourceEditMenuOpen.resIndex].resGroup')
                                                        input.checkbox(type='checkbox', id='checkbox{{$index}}', ng-model='group.isMember')
                                                        label.text-nowrap.grp-name-color(for='checkbox{{$index}}', style='color: {{group.groupColor}}')
                                                            | {{group.groupName}}
                                            .type-select-apply
                                                a(directive-blind-groups-show='', style='cursor: pointer;', title='apply', ng-click='applyResEditSelectedGroup()')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                // res-modal-EDIT-GROUP-block END

                                // res-modal-EDIT-ORGS-block START
                                .res-modal-edit-orgs-block
                                    .res-modal-edit-orgs-block-top
                                        .res-modal-edit-block-top-name
                                            span Organization:
                                        .res-modal-unit-edit(style='position: relative;top: -1px;')
                                            button(directive-blind-orgs-show='', title='edit') edit
                                        div
                                            ul.res-edit-selected-orgs-name(ng-repeat='org in userResourceCollection[currentResourceEditMenuOpen.resIndex].resOrg', ng-if=" org.orgRole !='not assigned' ")
                                                li(style='color: #7386A7')  {{org.orgName}}
                                    section.res-modal-edit-orgs-block-bottom.blind-show-orgs(hidden='hidden')
                                        .res-edit-category
                                            .res-edit-category-unit(style='margin-top: 10px')
                                                ul(style='list-style: none; padding-left: 0')
                                                    li(ng-repeat='org in userResourceCollection[currentResourceEditMenuOpen.resIndex].resOrg')
                                                        input.checkbox(type='checkbox', id='checkbox2{{$index}}', ng-checked='resOrgMembershipCheck($index)', ng-model='org.isMember')
                                                        label.text-nowrap(for='checkbox2{{$index}}', style='color: #7386A7')
                                                            | {{org.orgName}},
                                                            span(title='{{org.orgRole}}') {{org.orgRole}}
                                            .type-select-apply
                                                a(ng-click='resOrgMembershipSetup()', directive-blind-orgs-show='', style='cursor: pointer;', title='apply')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                // res-modal-EDIT-ORGS-block END
                        // RESOURCE MODAL MENU EDIT SECTION END
    // RESOURCE MODAL SECTION END

    // TYPE MODAL SECTION START
    section.type-modal-main
        #type.modal.fade
            .modal-dialog.modal-lg
                .modal-constent
                    .modal-body.resource-modal-block
                        // TYPE MODAL MENU MAIN SECTION START
                        section.resource-main-menu
                            .res-modal-header
                                div
                                    span(style='color: #C9CFDD') TYPES
                                div
                                    a(data-dismiss='modal', style='cursor: pointer;')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px', title='close')
                            .res-modal-body
                                // res-modal-unit-block-TYPE START
                                .res-modal-unit-block(ng-repeat='type in userTypeCollection.userTypesList')
                                    .res-modal-unit-block-top
                                        .res-modal-type-name
                                            span(title='{{type}}', style='font-weight: bold;') {{type}}
                                        .res-modal-unit-edit(ng-hide='true')
                                            button(ng-click='resourceEditMenuOpen($index, resource.resName)', title='edit') edit
                                        .res-modal-unit-del(ng-hide='$first')
                                            a(style='cursor: pointer;', ng-click='typeRemovePannelShow=!typeRemovePannelShow')
                                                img.close-btn(src='../img/guntt/modal-menu/delete.png', alt='deletePanelShow', width='24px')
                                    .res-modal-unit-block-bottom.text-center(ng-show='typeRemovePannelShow')
                                        h4 Remove this type completely?
                                        .del-confirm-buttons
                                            .del-confirm-cancel
                                                a(ng-click='typeRemovePannelShow=false', title='cancel')
                                                    img.close-btn(src='../img/guntt/modal-menu/cancel-t.png', alt='cancel', width='24px', height='24px')
                                            .del-confirm-ok
                                                a(ng-click='removeType($index)', title='confirm')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='24px')
                            .res-modal-footer
                                .text-center
                                    span add new type
                                    br
                                    input.add-res-input(type='text', name='addRes', value='', ng-model='newTypeName', ng-minlength='2', ng-maxlength='10', placeholder='')
                                .add-res-confirm
                                    a(ng-click='addNewType(newTypeName)', style='cursor: pointer;', title='add')
                                        img.confirm-btn(src='../img/guntt/modal-menu/add.png', width='34px')
                        // TYPE MODAL MENU MAIN SECTION END
    // TYPE MODAL SECTION END

    // GROUPS MODAL SECTION START
    section.resource-modal-main
        #groups.modal.fade
            .modal-dialog.modal-lg
                .modal-constent
                    .modal-body.resource-modal-block

                        // GROUPS MODAL MENU MAIN SECTION START
                        section.resource-main-menu
                            .res-modal-header
                                div
                                    span(style='color: #C9CFDD') GROUPS
                                div
                                    a(data-dismiss='modal', style='cursor: pointer;', title='close', ng-click='groupEditMenuClose()', directive-slide-hide-gr='', directive-blind-close-gr='')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px')
                            .res-modal-body
                                // res-modal-unit-block-GROUPS START
                                .res-modal-unit-block(ng-repeat='group in userGroupCollection.userGroupList')
                                    .res-modal-unit-block-top
                                        .res-modal-unit-name
                                            span.grp-name-color(style='color: {{group.groupColor}}; font-weight: bold;') {{group.groupName}}
                                        .res-modal-unit-edit
                                            button(ng-click='groupEditMenuOpen($index)', ng-hide='groupEditMenuOpenStatus', directive-slide-show-gr='') edit
                                        .res-modal-unit-del(ng-hide='groupEditMenuOpenStatus')
                                            a(style='cursor: pointer;', ng-click='groupRemovePannelShow=!groupRemovePannelShow')
                                                img.close-btn(src='../img/guntt/modal-menu/delete.png', alt='deletePanelShow', width='24px')
                                    .res-modal-unit-block-bottom.text-center(ng-show='groupRemovePannelShow')
                                        h4 Remove this group completely?
                                        .del-confirm-buttons
                                            .del-confirm-cancel
                                                a(ng-click='groupRemovePannelShow=false', title='cancel')
                                                    img.close-btn(src='../img/guntt/modal-menu/cancel-t.png', alt='cancel', width='24px', height='24px')
                                            .del-confirm-ok
                                                a(ng-click='removeGroup($index)', title='confirm')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='24px')
                                // group-modal-unit-block-GROUP END
                            .res-modal-footer
                                .text-center(ng-hide='groupEditMenuOpenStatus')
                                    span add new group
                                    br
                                    input.add-res-input(type='text', name='addRes', value='', ng-model='newGroupName', ng-minlength='3', ng-maxlength='17', placeholder='')
                                .add-res-confirm(ng-hide='groupEditMenuOpenStatus')
                                    a(ng-click='addNewGroup(newGroupName)', style='cursor: pointer;')
                                        img.confirm-btn(src='../img/guntt/modal-menu/add.png', title='add', width='34\
                      px')
                        // GROUPS MODAL MENU MAIN SECTION END

                        // GROUPS MODAL MENU EDIT SECTION START
                        section.resource-main-menu-edit.slide-menu-gr(hidden='hidden')
                            header.res-modal-edit-header
                                div
                                    span(style='color: #C9CFDD')
                                        | GROUP:
                                        span(style='font-weight: bold;') {{userResourceCollection[currentResourceEditMenuOpen.resIndex].resName}}
                                        |                                        >Edit
                                div
                                    a(style='cursor: pointer;', directive-slide-hide-gr='', directive-blind-close-gr='', ng-click='groupEditMenuClose()')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px')

                            .res-modal-edit-body
                                .res-modal-edit-body-header
                                    div
                                        .res-modal-edit-body-header-name.grp-name-color
                                            span(style='color:{{userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupColor}} ')
                                                | {{userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupName}}
                                        .res-modal-edit-body-header-rename-btn
                                            button.modal-menu-btn(directive-blind-show-gr='') rename
                                    hr
                                    section.res-modal-edit-body-header-remame-form.blind-show-gr(hidden='hidden')
                                        span(for='groupRemaneInput') Enter new group name
                                        input#groupRemaneInput.res-remane-input(type='text', placeholder='{{userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupName}}', ng-model='newGroupRename', ng-minlength='2', ng-maxlength='17')
                                        a(ng-click='applyGroupEditNewName(newGroupRename)', style='cursor: pointer;')
                                            img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                        .res-modal-edit-body-header-back
                                            a(directive-blind-show-gr='')  back


                                // group-modal-EDIT-COLOR-block START
                                .res-modal-edit-type-block
                                    .res-modal-edit-type-block-top
                                        .res-modal-edit-block-top-name
                                            span
                                                | Color :
                                                span.res-edit-selected-type-name-color(title='', style='color: {{userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupColor}}')
                                                    | {{userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupName}}
                                        .res-modal-unit-edit(style='position: relative;top: -7px;')
                                            button(directive-blind-color-show='') edit
                                    section.res-modal-edit-type-block-bottom.blind-show-color(hidden='hidden')
                                        .res-edit-category
                                            .res-edit-category-unit-color
                                                div(ng-repeat='color in userGroupCollection.userGroupColorsCollection')
                                                    input.checkbox-r.radio-color-edit(id='radioColor{{$index}}', type='radio', ng-model='$parent.selectedColor', ng-checked='userGroupCollection.userGroupList[currentGroupEditMenuOpen.grIndex].groupColor == color? true : false', name='types-radio-list', value='{{color}}', style='cursor: pointer;')
                                                    label.radio.category-radio-label.color-label(for='radioColor{{$index}}', style='cursor: pointer; background: {{color}}; color:{{color}} ')
                                                        | .
                                            .type-select-apply.type-select-apply-color
                                                a(ng-click='applyGroupEditSelectedColor(selectedColor)', directive-blind-color-show='', style='cursor: pointer;')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                        // GROUPS MODAL MENU EDIT SECTION START
    // GROUPS MODAL SECTION END

    // ORGANIZATIONS MODAL SECTION START
    section.resource-modal-main
        #organizations.modal.fade
            .modal-dialog.modal-lg
                .modal-contents
                    .modal-body.resource-modal-block

                        // ORGANIZATIONS MODAL MENU MAIN SECTION START
                        section.resource-main-menu
                            .res-modal-header
                                div
                                    span(style='color: #C9CFDD') ORGANIZATIONS
                                div
                                    a(data-dismiss='modal', style='cursor: pointer;', directive-slide-hide-org='', directive-blind-close-org='')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px', ng-click='organizationEditMenuClose()')
                            .res-modal-body
                                // res-modal-unit-block-ORGANIZATIONS START
                                .res-modal-unit-block(ng-repeat='org in userOrgCollection.userOrgList')
                                    .res-modal-unit-block-top
                                        .res-modal-unit-name
                                            span(style='font-weight: bold; ') {{org.orgName}}
                                        .res-modal-unit-edit
                                            button(ng-click='organizationEditMenuOpen($index)', ng-hide='OrganizationEditMenuOpenStatus', directive-slide-show-org='') edit
                                        .res-modal-unit-del(ng-hide='OrganizationEditMenuOpenStatus')
                                            a(style='cursor: pointer;', ng-click='orgRemovePannelShow=!orgRemovePannelShow')
                                                img.close-btn(src='../img/guntt/modal-menu/delete.png', alt='deletePanelShow', width='24px')
                                    .res-modal-unit-block-bottom.text-center(ng-show='orgRemovePannelShow')
                                        h4 Remove this organization completely?
                                        .del-confirm-buttons
                                            .del-confirm-cancel
                                                a(ng-click='orgRemovePannelShow=false')
                                                    img.close-btn(src='../img/guntt/modal-menu/cancel-t.png', alt='cancel', width='24px', height='24px')
                                            .del-confirm-ok
                                                a(ng-click='removeOrganization($index)')
                                                    img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='24px')
                                // organizations-modal-unit-block-GROUP END
                            .res-modal-footer
                                .text-center(ng-hide='OrganizationEditMenuOpenStatus')
                                    span add new organization
                                    br
                                    input.add-res-input(type='text', name='addRes', value='', ng-model='newOrgName', ng-minlength='3', ng-maxlength='17', placeholder='')
                                .add-res-confirm(ng-hide='OrganizationEditMenuOpenStatus')
                                    a(ng-click='addNewOrganization(newOrgName)', style='cursor: pointer;')
                                        img.confirm-btn(src='../img/guntt/modal-menu/add.png', title='addRes', width='34\
                      px')
                        // ORGANIZATIONS MODAL MENU MAIN SECTION END

                        // ORGANIZATIONS MODAL MENU EDIT SECTION START
                        section.resource-main-menu-edit.slide-menu-org(hidden='hidden')
                            header.res-modal-edit-header
                                div
                                    span(style='color: #C9CFDD')
                                        | ORGANIZATION:
                                        span(style='font-weight: bold;')
                                            | {{userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgName}}
                                        |                                        >Edit
                                div
                                    a(style='cursor: pointer;', ng-click='organizationEditMenuClose()', directive-slide-hide-org='', directive-blind-close-org='')
                                        img.close-btn(src='../img/guntt/modal-menu/close-t.png', alt='close', width='24px', height='25px')
                            .res-modal-edit-body
                                .res-modal-edit-body-header
                                    div
                                        .res-modal-edit-body-header-name
                                            span(style='')
                                                | {{userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgName}}
                                        .res-modal-edit-body-header-rename-btn
                                            button.modal-menu-btn(directive-blind-show-org='') rename
                                    hr
                                    // !
                                    section.res-modal-edit-body-header-remame-form.blind-show-org(hidden='hidden')
                                        span(for='groupRenameInput') Enter new organization name
                                        input#groupRenameInput.res-remane-input(type='text', placeholder='{{userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgName}}', ng-model='groupRenameInput', ng-minlength='2', ng-maxlength='17')
                                        a(ng-click='applyOrgEditNewName(groupRenameInput)', style='cursor: pointer;')
                                            img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                        .res-modal-edit-body-header-back
                                            a(directive-blind-show-org='')  back
                                // modal-body-header end
                                // organization-modal-EDIT-ROLE-block START
                                .res-modal-edit-type-block
                                    .res-modal-edit-type-block-top
                                        .res-modal-edit-block-top-name
                                            span Membership
                                        .res-modal-unit-edit(style='position: relative;top: -7px;')
                                            button(directive-blind-mem-show='') edit
                                    // !
                                    section.res-modal-edit-type-block-bottom.blind-show-mem(hidden='hidden')
                                        // ORG ROLES CHNGE SUB-MENU START
                                        .res-edit-category
                                            // MAIN USER role edit block in org-edit-menu START
                                            .org-modal-edit-body-header
                                                div
                                                    .org-modal-edit-body-header-name
                                                        span(style='') {{user.userName}},
                                                        span(title='{{userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgRole}}', style='font-size: 110%;')
                                                            | {{userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgRole}}
                                                    .org-modal-edit-body-header-role-btn
                                                        button.modal-menu-btn(ng-click='roleBtnTrigger=!roleBtnTrigger') role
                                                hr.hr-org-role-edit
                                                // !
                                                .org-modal-edit-body-header-role-form(ng-show='roleBtnTrigger')
                                                    ul.role-chbx-div(ng-repeat='role in userOrgCollection.userOrgRolesCollection')
                                                        li
                                                            input.checkbox(type='radio', id='role{{$index}}', name='roleUser', ng-checked='(userOrgCollection.userOrgList[currentOrganizationEditMenuOpen.orgIndex].orgRole == role)? true:false', value='{{role}}', ng-model='$parent.userSelectedRole')
                                                            label(for='role{{$index}}')
                                                                span(title='{{role}}') {{role}}
                                                    .org-modal-edit-body-header-back
                                                        a(ng-click='roleBtnTrigger=false')  back
                                                        a(ng-click='userOrgEditRoleChange(userSelectedRole)', style='cursor: pointer; float: right;')
                                                            img.confirm-btn(src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                            // MAIN USER role edit block in org-edit-menu END
                                            // RESOURCE role edit block in org-edit-menu START
                                            .org-modal-edit-body-header(ng-repeat='resource in userResourceCollection')
                                                div
                                                    .org-modal-edit-body-header-name
                                                        span(style='') {{resource.resName}},
                                                        span(title='{{resource.resOrg[currentOrganizationEditMenuOpen.orgIndex].orgRole}}', style='font-size: 110%;')
                                                            | {{resource.resOrg[currentOrganizationEditMenuOpen.orgIndex].orgRole}}
                                                    .org-modal-edit-body-header-role-btn
                                                        button.modal-menu-btn(ng-click='resRoleBtnTrigger$index=!resRoleBtnTrigger$index') role
                                                hr.hr-org-role-edit
                                                // !
                                                .org-modal-edit-body-header-role-form(ng-show='resRoleBtnTrigger$index')
                                                    ul.role-chbx-div(ng-repeat='role in userOrgCollection.userOrgRolesCollection')
                                                        li
                                                            input.checkbox(type='radio', id='roleres{{$index}}{{resource.resId}}', name='roleRes{{resource.resId}}', ng-checked='(resource.resOrg[currentOrganizationEditMenuOpen.orgIndex].orgRole == role)? true : false', value='{{role}}', ng-model='$parent.resSelectedRole')
                                                            label(for='roleres{{$index}}{{resource.resId}}')
                                                                span(title='{{role}}') {{role}}
                                                    .org-modal-edit-body-header-back
                                                        a(ng-click='resRoleBtnTrigger$index=false')  back
                                                        a(ng-click='resOrgEditRoleChange(resSelectedRole, $index)', style='cursor: pointer; float: right;')
                                                            img.confirm-btn(ng-click='resRoleBtnTrigger$index=false', src='../img/guntt/modal-menu/ok-t.png', alt='ok', width='30px')
                                            // RESOURCE role edit block in org-edit-menu END
                                            .org-modal-edit-body-header-back(width='300px')
                                                a(directive-blind-mem-show='')  back
                                                a
                                        // ORG ROLES CHNGE SUB-MENU END
                                // organization-modal-EDIT-ROLE-block END
                        // ORGANIZATIONS MODAL MENU EDIT SECTION END

    // ORGANIZATIONS MODAL SECTION END
