section.modal-menu-main-section
    // RESOURCE MODAL SECTION START
    ng-include(src="'partials/guntt_templates/04_modals_menus/01_resource_modal_section.html'")
    // RESOURCE MODAL SECTION END

    // TYPES MODAL SECTION START
    ng-include(src="'partials/guntt_templates/04_modals_menus/02_types_modal_section.html'")
    // TYPES MODAL SECTION END

    // GROUPS MODAL SECTION START
    ng-include(src="'partials/guntt_templates/04_modals_menus/03_groups_modal_section.html'")
    // GROUPS MODAL SECTION END

    // ORGANIZATIONS MODAL SECTION START
    ng-include(src="'partials/guntt_templates/04_modals_menus/04_orgs_modal_section.html'")
    // ORGANIZATIONS MODAL SECTION END
