.container-general.col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-controller='gunttUserAndResourcesCtrl')
  #containerMain.container-main
    ng-include(src="'partials/guntt_templates/01_header/00_header_main.html'")

    ng-include(src="'partials/guntt_templates/02_time_and_control/00_time_and_control_main.html'")

    ng-include(src="'partials/guntt_templates/04_modals_menus/00_modals_menus_main.html'")