doctype html
html(lang="en")
    head
        meta(charset='utf8')
        base(href='/')
        title BodyNizer
        link(rel='stylesheet', href='bower/angular-toastr/dist/angular-toastr.css')
        link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='css/app.css')
    body
        block content
