doctype html
html(lang="en")
    head
        meta(charset='utf8')
        base(href='/')
        title CloudletHub
        link(rel='stylesheet', href='bower/angular-toastr/dist/angular-toastr.min.css')
        link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='css/landing-page/nav.css')
        link(rel='stylesheet', href='css/landing-page/login.css')
        link(rel='stylesheet', href='css/landing-page/registration.css')
        link(rel='stylesheet', href='css/landing-page/footer.css')
        link(rel='stylesheet', href='css/guntt/01_guntt-api-header.css')

    body
        block content
