doctype html
html(lang="en")
    head
        meta(charset='utf8')
        base(href='/')
        title CloudletHub
        link(rel='stylesheet', href='bower/angular-toastr/dist/angular-toastr.min.css')
        link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='css/nav.css')
        link(rel='stylesheet', href='css/login.css')
        link(rel='stylesheet', href='css/footer.css')
            
        
    body
        block content